body{
    background-color:#000;
}

.card {
    width: 90%;
    margin: auto
}

.page {

    margin-top:50px;
    margin-bottom:50px;
}

.float-right.headingright {
    color: #153063;
    font-weight: 500;
    margin-top: 10px
}

.float-right {
    color: #7a7a7a;
    font-weight: 450
}

.today,
.tomorrow {
    color: #153063;
    font-size: 25px;
    font-weight: 600
}

.heading2 {
    margin-top: 6%
}

.fa-calendar,
.fa-circle-thin,
.fa-star {
    color: #7a7a7a
}

.time {
    color: #7a7a7a;
    font-size: 12px
}

.fa-plus {
    display: inline-block;
    border-radius: 25px;
    background-color: #e3e1e1;
    color: #7a7a7a;
    size: 10px;
    padding: 2px
}

.task {
    color: #153063;
    font-weight: 500
}

.task2 {
    opacity: 0.5
}

.fa-thumb-tack,
.fa-exchange,
.fa-user {
    background-color: #7a7a7a;
    color: white;
    display: inline-block;
    border-radius: 25px;
    padding: 3px
}

.card-body {
    margin: 2%
}

.card-header {
    margin-left: 5%;
    margin-right: 5%;
    background-color: white !important;
    padding: 0px;
    margin-top: 2%
}

.navTask {
    color: #136fe8;
    border-bottom: solid 1px #136fe8
}

.fa-bars {
    color: #136fe8
}

@media only screen and (max-width: 600px) {
    .card {
        font-size: 11px
    }

    .time {
        font-size: 6px
    }
}











.checkbox-round {
    width: 0.7em;
    height: 0.7em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-round:checked {
    background-color: darkgrey;
}


.task-input:focus {
    border: 0;
}
.task-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}


.task-input-2:focus {
    border: 0;
}
.task-input-2 {
    width: 100%;
/*    padding: 12px 20px;*/
/*    margin: 8px 0;*/
    box-sizing: border-box;
/*    border: 3px solid #ccc;*/
    border: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.content-input-2:focus {
    border: 0;
}

.content-input-2 {
    width: 100%;
/*    padding: 12px 20px;*/
/*    margin: 8px 0;*/
    box-sizing: border-box;
/*    border: 3px solid #ccc;*/
    border: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}


