{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
    <div class="container w-75 mt-4">

            {% csrf_token %}
            <div class="container">
                <div class="row">
                    <h4 class="col"><span class="time">Task </span>{{ task.task }}</h4>
                    <a href="{% url 'home' %}" class="text-decoration-none link-dark text-end col me-3"><i class="fa-solid fa-house"></i></a>
                </div>
            </div>
            <br><br>
            <div class="container">
                {% if task.content != "" %}
                    {{ task.content | linebreaks }}
                {% else %}
                    <span class="time">No content </span>
                {% endif %}
            </div>
    </div>
{% endblock %}