{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
        <container class="">
            <form method="post" class="container w-75 text-center mx-auto mt-5">
                 {% csrf_token %}
                <div class="row">
                    <div class="task-input list-group-item col-10 border-bottom text-start">{{ task_form.task }}</div>

<!--                    <input type="datetime-local" class="col" placeholder="End`s at" name="end_time">-->
<!--                    <input type="datetime-local" class="col" placeholder="Start`s at" name="start_time">-->
                    <div class="col dropleft">
                        <button type="button" class="add btn btn-link-dark text-decoration-none font-weight-bold todo-list-add-btn" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-calendar-days"></i>
                        </button>

                         <ul class="dropdown-menu ">
                            <li>
                                <div class="text-center">Start time</div>
                                <input type="datetime-local" class="col" placeholder="Start`s at" name="start_time">
                            </li>
                            <li>
                                <div class="text-center fs-6">End time</div>
                                <input type="datetime-local" class="col" placeholder="End`s at" name="end_time">
                            </li>

                        </ul>
                    </div>

                    <button type="submit" class="add btn btn-link-dark text-decoration-none font-weight-bold todo-list-add-btn col">Add</button>

                </div>

            </form>

            <div class="container w-75 mt-4">
                <h4>Tasks <span class="time">{{ tasks|length }}pcs</span></h4>
                <br>
                <div class="container">
                {% for task in tasks %}
                    <div class="row">
                        <div class="col-11">
<!--                            <input type="checkbox" class="checkbox-round" />-->
    <!--                        <input class="form-check-input mt-0 align-middle" type="radio" value="" aria-label="Checkbox for following text input">-->

                            <span class="task"><a class="text-decoration-none link-dark" href="{% url 'task-detail' task.id %}">{{ task.task }}</a></span>
                            {% if task.start_time and task.end_time %}
                            <span class="time ml-2">{{ task.start_time }}-{{ task.end_time }}</span>
                            <span class="float-right">{{ task.start_time|timesince:task.end_time }}</span>
                            {% elif task.start_time %}
                            <span class="time ml-2">start: {{ task.start_time }}</span>
                            {% elif task.end_time %}
                            <span class="time ml-2">deadline: {{ task.end_time }}</span>
                            {% else %}
                            <span class="time ml-2">no deadline</span>
                            {% endif %}
                        </div>
                        <div class="float-end col text-end">
                            <div class="container">
                                <a class=" text-decoration-none time ml-2 row" href="{% url 'edit-task' task.id %}">edit</a>
                                <a class=" text-decoration-none time ml-2 row" href="{% url 'solve-task' task.id %}">solved</a>
                            </div>

                        </div>
                        <br><br>
                    </div>
                {% endfor %}
                </div>
            </div>

            {% if solved_tasks %}
            <div class="container w-75 mt-4">
                <a href="{% url 'solved-tasks-list' %}" class="text-decoration-none link-dark"><h4>Solved Tasks <span class="time">(view all)</span></h4></a>
                <br>
                <div class="container">
                {% for task in solved_tasks %}
                    <div class="row">
                        <div class="col-11">
<!--                            <input type="checkbox" class="checkbox-round" />-->
    <!--                        <input class="form-check-input mt-0 align-middle" type="radio" value="" aria-label="Checkbox for following text input">-->
                            <span class="task text-decoration-line-through"><a class="text-decoration-none link-dark" href="{% url 'task-detail' task.id %}">{{ task.task }}</a></span>
                            {% if task.start_time and task.end_time %}
                            <span class="time ml-2">{{ task.start_time }}-{{ task.end_time }}</span>
                            <span class="float-right">{{ task.start_time|timesince:task.end_time }}</span>
                            {% elif task.start_time %}
                            <span class="time ml-2">start: {{ task.start_time }}</span>
                            {% elif task.end_time %}
                            <span class="time ml-2">deadline: {{ task.end_time }}</span>
                            {% else %}
                            <span class="time ml-2">no deadline</span>
                            {% endif %}
                        </div>
                        <div class="float-end col text-end">
                            <div class="container">
                                <a class=" text-decoration-none time ml-2 row" href="{% url 'delete-task' task.id %}">delete</a>
                                <a class=" text-decoration-none time ml-2 row" href="{% url 'unsolve-task' task.id %}">unsolved</a>
                            </div>

                        </div>
                        <br><br>
                    </div>
                {% endfor %}
                </div>
            </div>
            {% endif %}




<!--            <div class="card-body">-->
<!--            <p class="heading1"> <span class="today">Today</span> <span class="float-right headingright">7h 15min</span> </p>-->
<!--            <p> <i class="fa fa-calendar mr-2" aria-hidden="true"></i> <span class="task mt-4">Take kids to school</span> <span class="time ml-2">8:00-8:30AM</span> <span class="float-right">30min</span> </p>-->
<!--            <p><i class="	fa fa-circle-thin mr-2"></i> <span class="task">Process email</span> <i class="fa fa-thumb-tack ml-2" aria-hidden="true"></i> <span class="time ml-2">8:00-9:30AM</span><span class="float-right">1h</span> </p>-->
<!--            <p><i class="fa fa-calendar mr-2" aria-hidden="true"></i> <span class="task">Daily Stand-Up meeting</span> <span class="time ml-2">9:00-10:00AM</span> <span class="float-right">30min</span> </p>-->
<!--            <p><i class="	fa fa-circle-thin mr-2"></i><span class="task">Create new templates</span> <i class="fa fa-thumb-tack ml-2" aria-hidden="true"></i> <i class="fa fa-user ml-2"></i> <span class="time ml-2">10:00-11:45AM</span> <span class="float-right">1h 45min</span> </p>-->
<!--            <p><i class="fa fa-calendar mr-2" aria-hidden="true"></i> <span class="task">Lunch with Anna</span> <span class="time ml-2">12:00-12:30PM</span> <span class="float-right">30min</span> </p>-->
<!--            <p class="text-muted"><i class="fa fa-plus mr-1" aria-hidden="true"></i> Add Task for Today</p>-->
<!--            <p class="heading2"><span class="tomorrow">Tomorrow</span> <span class="float-right headingright">6h 30min</span> </p>-->
<!--            <p class="task2 mt-4"><i class="fa fa-calendar mr-2" aria-hidden="true"></i> <span class="task">Breakfast with the Marketing team</span> <span class="time ml-2">8:00-8:30AM</span> <span class="float-right">30min</span></p>-->
<!--            </div>-->


        </container>
{% endblock %}