{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}

<div class="container position-absolute top-50 start-50 translate-middle">


    <form method="POST" class="w-25 text-center mx-auto">
        {% csrf_token %}
        {% if error_message %}
            <div class="float-end">
                <span class="time">{{ error_message|safe }}</span>
            </div>
            <br>
            <br>
        {% endif %}

        <div class="container">
            <div class="row">
                <div class="col text-end">
<!--                    <span class="time">username</span>-->
                    username
                </div>
                <div class="col">
                   {{ login_form.username }}
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col text-end">
<!--                    <span class="time">password</span>-->
                    password
                </div>
                <div class="col">
                   {{ login_form.password }}
                </div>
            </div>
        </div>
        <br>

        <p>
            <button type="submit" class="add btn btn-link-dark text-decoration-none font-weight-bold todo-list-add-btn float-end">
                Log In
<!--                <span class="time">Log In</span>-->
            </button>
        </p>
    </form>
</div>
{% endblock %}